*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 
    animation-name: mudardecor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    
}

h1{
    text-align: center;
    color: #f6f930;
    position: relative;
    top: 20px;
    font-size:55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#info p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    position: relative;
    text-align:center;
    top: -550px;
    right: -35px;
    font-size: 20px;
   background-color:#03071e ;
   color: #fff;
}
.container{
    width: 30%;
}
#info-fred p{
    ffont-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    position: relative;
    text-align:center;
    top: -610px;
    left: 380px;
    font-size: 20px;
   
    background-color: #f6f930;

}


img{
    width: 340px;
    height: 300px;
    

}
.fotos-one{
    display: flex;
    grid-gap: 10px;
    position: relative;
    top: 50px;
    padding: 10px;
    margin: 10px;
}
.fotos-two{
    display: flex;
    grid-gap: 10px;
    position: relative;
    top: 80px;
    padding: 10px;
    margin: 10px;
}

@keyframes mudardecor{
    30%{background-color: #03071e;}
    50%{background-color: #1982c4;}
    20%{background-color: #d80032;}
}
